if SHIELD_MODULAR_KB_RIGHT

config ZMK_KEYBOARD_NAME
    default "My Board right"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_MODULAR_KB_LEFT || SHIELD_MODULAR_KB_RIGHT

config ZMK_SPLIT
    default y

endif